/* css for navbar */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

header {
    width: 100%;
    height: 92px;
    background: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
}

.navcenter {
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-decoration: none;
    font-size: 16px;
}

#navbutton {
    width: 164px;
    height: 44px;
    font-size: 16px;
    text-align: center;
    background-color: rgba(70, 145, 101, 1);
    color: #ffffff;
    border: none;
}

#imgnav {
    height: 60px;
}




/* Banner section */
.banner {
    width: 100%;
    height: 674px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 70px 120px 134px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.design {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255);
    color: rgba(70, 145, 101, 1);
    font-size: 14px;
    margin-bottom: 12px;
}


h1 {
    margin-top: 0;
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h1 span {
    color: rgba(70, 145, 101, 1);
}

#banner_para {
    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
}


/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 14px 22px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Primary button */
.primary {
    background: rgba(70, 145, 101, 1);
    color: #ffffff;
    font-weight: bold;
}

/* Secondary button */
.secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
}

.content {
    margin-top: 60px;
    max-width: 760px;
}





/* notes section */

.notes-section {
    width: 100%;
    min-height: 448px;
    background: rgba(255, 255, 255, 1);
    padding: 0px 120px 120px 120px;
    text-align: center;
}

.notes-section h2 {
    font-family: Inter;
    margin-bottom: 16px;
    font-size: 48px;
    color: rgba(0, 25, 49, 1);
}

.subtitle {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    margin-bottom: 64px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 322px;
    height: 300px;

    background: rgba(255, 255, 255, 1);
    border: 1px solid #eef2f7;
    border-radius: 12px;

    /* padding: 32px 24px; */
    padding-top: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

    display: flex;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 60px 24px 24px;
}


.card h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 25, 49, 1);
    margin-top: -2px;
    /* white-space: nowrap; */
}

.card p {
    max-width: 240px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    line-height: 1.5;
    text-align: center;
    margin-top: -10px;
}

.icon-circle {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.icon-circle img {
    width: 32px;
    height: 32px;
}




/* brain section */
.brain-section {
    width: 100%;
    background: #ffffff;
    padding: 120px;
}

.brain-container {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* vertical alignment like Figma */
    justify-content: space-between;

    gap: 40px;
}

.brain-image {
    width: 560px;
    height: 560px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.brain-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brain-content {
    padding-top: 32px;
    max-width: 520px;
    text-align: left;
}

.thesolution {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: rgba(70, 145, 101, 1);
    margin-top: 24px;

    display: inline-block;
}

.brain-content h2 {
    font-family: Inter;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;

    color: Color, rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.description {
    font-family: Inter;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(98, 115, 130, 1);

    margin-bottom: 32px;
    max-width: 480px;
}

.features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 25, 49, 1);

    margin-bottom: 16px;
}

.features li img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
}





/* early access section */
.early-access-section {
    width: 100%;
    background: #ffffff;
    padding: 120px;
}

.early-access-container {
    /* width: 1360px; */
    height: 384px;
    margin: 0 auto;

    background: rgba(247, 246, 242, 1);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 40px 80px 40px;
    /* gap: 10px; */
    text-align: center;
}

.early-access-container h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
}

.early-description {
    font-family: Inter;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(98, 115, 130, 1);
    margin-top: -8px;

}

.early-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    /* space between text and arrow */

    padding: 14px 28px;
    border-radius: 8px;
    border: none;

    background: rgba(70, 145, 101, 1);
    color: #ffffff;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 0px 8px 24px rgba(70, 145, 101, 0.25);
}


.btn-arrow {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.early-note {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: rgba(98, 115, 130, 1);
}



/* footer sectio  */
.footer {
    width: 100%;
    height: 348px;
    background: rgba(0, 25, 49, 1);
    padding: 120px;
}

.footer-container {
    max-width: 1600px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    margin-top: -40px;
    gap: 80px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    height: 40px;
    object-fit: contain;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.footer-social p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    margin-top: -12px;
    font-weight: 500;
    color: #ffffff;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    width: 36px;
    height: 36px;
    background: #ffffff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease;
}


.social-icons img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}


.footer-divider {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}


.footer-copy {
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -50px;
}